
    <div class="row">
      <div class="large-12 columns">
        <ul class="orbit-container" data-orbit>
          <li>
            <img src="img/slides/g" alt="slider" />
            <div class="orbit-caption">
              Text to go here 
            </div>
          </li>
          <li>
            <img src="img/slides/" alt="slider" />
            <div class="orbit-caption">
              Text to go here 
            </div>
          </li>
          <li>
            <img src="img/slides/" alt="slider" />
            <div class="orbit-caption">
              Text to go here 
            </div>
          </li>
        </ul>
      </div>
    </div>