    <div class="row gallery">
      <div class="large-12 columns">
        <h2>Gallery</h2>
        <p>View our latest photos</p>
        <hr />
        <ul class="clearing-thumbs" data-clearing>
          <li>
            <a href="img/gallery/gallery-large-1.png">
              <img src="img/gallery/gallery-thumb-1.png" alt="" data-caption="Text to go here" />
            </a>
          </li>
          <li>
            <a href="img/gallery/gallery-large-1.png">
              <img src="img/gallery/gallery-thumb-1.png" alt="" data-caption="Text to go here" />
            </a>
          </li>
          <li>
            <a href="img/gallery/gallery-large-1.png">
              <img src="img/gallery/gallery-thumb-1.png" alt="" data-caption="Text to go here" />
            </a>
          </li>
          <li>
            <a href="img/gallery/gallery-large-1.png">
              <img src="img/gallery/gallery-thumb-1.png" alt="" data-caption="Text to go here" />
            </a>
          </li>
          <li>
            <a href="img/gallery/gallery-large-1.png">
              <img src="img/gallery/gallery-thumb-1.png" alt="" data-caption="Text to go here" />
            </a>
          </li>
          <li>
            <a href="img/gallery/gallery-large-1.png">
              <img src="img/gallery/gallery-thumb-1.png" alt="" data-caption="Text to go here" />
            </a>
          </li>
          <li>
            <a href="img/gallery/gallery-large-1.png">
              <img src="img/gallery/gallery-thumb-1.png" alt="" data-caption="Text to go here" />
            </a>
          </li>
          <li>
            <a href="img/gallery/gallery-large-1.png">
              <img src="img/gallery/gallery-thumb-1.png" alt="" data-caption="Text to go here" />
            </a>
          </li>         
        </ul>
      </div>
    </div>