
    <div class="row video-player">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-6 columns">
            <div class="flex-video">
              <iframe width="560" height="315" src="//www.vimeo.com/" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet lectus eu diam commodo consequat. In porta velit eleifend velit consectetur molestie. Vestibulum cursus eros vehicula ornare tincidunt. Mauris sit amet imperdiet leo. Aenean vitae condimentum nibh.</p>
              <p>Quisque interdum sapien in ante pulvinar ullamcorper. Vivamus accumsan ligula mauris, vitae imperdiet libero condimentum id. Proin rhoncus pellentesque sapien eget mattis. Etiam eu justo varius, tincidunt neque vitae, viverra leo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>