
@namespace url(http://www.w3.org/1999/xhtml);


@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}


*:lang(en-GB)
{


}

:root {
    font-size: 12pt;
    line-height: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    scroll-behavior: smooth;
}

/* Structure    ----------- */


html {

}


html,
body {
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}


body {

}

address {
    font-style: italic;
    color: rgba(138, 137, 135, 1);
}

time {
    font-style: normal;
    color: rgba(138, 137, 135, 1);
}

/* Typo    ----------- */


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul li,
ol li,
a {
    font-family: "robotoregular", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    word-spacing: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

h1, h2, h3,h4,h5,h6 {
    
    font-family: "SohoGothicW01-Regular";
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1{

    font-size: 40px;
    font-weight: 400;
}

h2{

}

h3{

}

/* Anchor Links    ----------- */

a{

}

a:hover{

}

a:visited{

}

a:link{

}

/* Lists    ----------- */

ul, ol{

}

li{

}

/* Hypertext   ----------- */

p{
    font-family: "robotoregular", sans-serif;
    font-size:100%;
    font-weight:200;
}

/* Forms      ----------- */




/* Addons    ----------- */   




/*icons    ----------- */

.icon-logo 
{
    position:relative; /*important! */	
}

.icon-logo a::before 
{
    content:"";
    position: absolute;
    left: 4px;
    width: 15px;
    height: 15px;
    border: 2px solid blue;
    margin-top: -6px;
    background: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.icon-logo a::after
{
    left: 10px;
    width: 5px;
    height: 3px;
    border: 4px solid white;
    margin-top: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Flexboxing ... container + row*/

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

/*
.flex-col {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.flex-col-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
*/


@media (min-width: 60em) {

    div { display: flex; }
    #main[role="main"] {
        flex: 1;        
        order: 1;        
        min-width: 12em;
    }
}

nav[role="navigation"] > ul > li {
    display: flex;
    flex-flow: column;
}

nav[role="navigation"] > ul > li:not(:target):not(:hover) > ul {
    visibility: collapse;
}

