@font-face 
	{
		font-family: "Soho GothicW01-Regular";
		src: url("assets/fonts/soho-gothic.eot");
		src: url("assets/fonts/soho-gothic.eot?#iefix") format("embedded-opentype"),
			 url("assets/fonts/soho-gothic.woff2") format("woff2"), 
			 url("assets/fonts/soho-gothic.woff") format("woff"),
			 url("assets/fonts/soho-gothic.ttf") format("truetype"),
			 url("assets/fonts/soho-gothic.svg#Soho GothicW01-Regular") format("svg");
	}