<form class="group" name="exampleform" action="formaction" method="post">
    <label class="label">Name</label> 
    <input class="text--small" type="text" name="name" value="Jon Doe"> 
  
    <label class="label">Rating</label>
    <input class="radio" type="radio" name="rating" value="1" id="radio11"></input>
    <label for="radio11" class="label">1</label>
    <input class="radio" type="radio" name="rating" value="2" id="radio12" checked></input>
    <label for="radio12" class="label">2</label>
    <input class="radio" type="radio" name="rating" value="3" id="radio13"></input>
    <label for="radio13" class="label">3</label>
  
    <label class="label">Comment</label> 
    <textarea name="comment">enter comments here ...</textarea> 
    
    <input class="button" type="submit" value="Submit Comment">
</form>
