<div class="login-container">
  <section class="login" id="login">
    <header>
      <h2>{{app.name}}</h2>
      <h4>Login</h4>
    </header>
    <form class="login-form" action="#" method="post">
      <input type="text" class="login-input" placeholder="{{usr.name}}" required autofocus/>
      <input type="password" class="login-input" placeholder="{{usr.passwd}}" required/>
      <div class="submit-container">
        <button type="submit" class="login-button">{{sign in}}</button>
      </div>
    </form>
  </section>
  <p>{{content}}</p>
</div>
<button id="e1">Login error!</button>
