
<section class="admin-ui">

    <style>

        @import "../css/app.css";

        </style

        <div class="wrap-login-container">

        <style>

        @import "../css/app.css";

    </style>


    <section class="login" 
             id="login">

        <header>
            <h2>{{app.name}}</h2>
            <h4>Login</h4>
        </header>

        <form class="login-form" 
              action="#" 
              method="post">
            <fieldset>

                <input 
                    type="text" 
                    class="login-input" 
                    placeholder="{{usr.name}}" 
                    required 
                    autofocus/>
                <input 
                    type="password" 
                    class="login-input" 
                    placeholder="{{usr.passwd}}" 
                    required/>

                <button 
                    type="submit" 
                    class="login-button">{{sign in}}
                </button>
            </fieldset>
        </form>
    </section>
    
    <p>{{content}}</p>


<button class="error">Login error!</button>

</section>
