<table cellspacing='0'> 
    <tr>
        <th>{{database.tabkeheader1}}</th>
        <th>{{database.tabkeheader2}}</th>
        <th>{{database.tabkeheader3}}</th>
    </tr>
    <tr>
        <td>{{database.content}}</td>
        <td>{{database.content}}</td>
        <td>{{database.content}}</td>
    </tr>
    <tr class='even'>
        <td>{{database.content}}</td>
        <td>{{database.content}}</td>
        <td>{{database.content}}</td>
    </tr>

    <tr>
        <td>{{database.content}}</td>
        <td>{{database.content}}</td>
        <td>{{database.content}}</td>
    </tr>
    <tr class='even'>
        <td>{{database.content}}</td>
        <td>{{database.content}}</td>
        <td>{{database.content}}</td>
    </tr>

    <tr>
        <td>{{database.content}}</td>
        <td>{{database.content}}</td>
        <td>{{database.content}}</td>
    </tr>
    <tr class='even'>
        <td>
            <a href="{{database.contentLink}}">{{database.content}}</a>
        </td>
        <td>{{database.content}}</td>
        <td>
            <a href="{{database.contentLink}}">{{database.content}}</a>
        </td>
    </tr>
</table>