    <div class="row contact-us">
      <div class="large-12 columns">
        <h2>Contact Us</h2>
        <p>Please fill out the form below to contact us</p>
        <div class="row">
          <div class="large-6 large-offset-3">
              <form data-abide>
                <div class="name-field">
                  <label>Name:
                    <input type="text" placeholder="James Smith" required pattern="[a-zA-Z]+" />
                  </label>
                   <small class="error">Please enter your name</small>
                </div>
                <div class="tele-field">
                  <label>Telephone:
                    <input type="text" placeholder="020 5889 8889" required pattern="alpha_numeric" />
                  </label>
                  <small class="error">Please enter your telephone number</small>
                </div>
                <div class="email-field">
                  <label>Email:
                    <input type="email" placeholder="james@email.com" required />
                  </label>
                  <small class="error">Please enter your email</small>
                </div>
                <div class="message-field">
                  <label>Message:
                    <textarea placeholder="Enter your comments here" required></textarea>
                  </label>
                  <small class="error">Please enter your comments</small>
                </div>
                <button type="submit">Submit</button>
              </form>
          </div>
        </div>
      </div>
    </div>