<html class="no-js" lang="en">
  <head>
    <base href="index.html">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beta Project</title>

    <meta name="MobileOptimized" content="320">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">

    <meta name="keywords" content="">

    <meta itemprop="name" content="">
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="http://www." />
    <meta itemprop="url" content="http://www" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@name">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="@d">
    <meta name="twitter:image:src" content="http://www....//">

    <link rel="author" href=" " title=" " hreflang="en">

    <link rel="apple-touch-icon" sizes="57x57" href="/public/ico/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/ico/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/ico/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/ico/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/ico/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/ico/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/public/ico/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/public/ico/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/public/ico/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/public/ico/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/public/ico/manifest.json">
    <link rel="shortcut icon" href="/public/ico/favicon.ico">
	

	
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="msapplication-TileImage" content="/public/ico/mstile-144x144.png">
    <meta name="msapplication-config" content="/public/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
	
	   <!--> <link href='http://fonts.googleapis.com/css?family=Cabin:400,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../foundation.css" />
    <link rel="stylesheet" href="../style.css" />
    <script src="../js/vendor/modernizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	
	
<!-- 
	<meta name="application-name" content=""/>
<meta name="msapplication-TileColor" content="#222222"/>
<meta http-equiv="imagetoolbar" content="false" />
<meta name="googlebot" content="index,noarchive,follow,noodp" />
<meta name="robots" content="all,index,follow" />
<meta name="msnbot" content="all,index,follow" />
<meta itemprop="url" content="http://" />
<meta name="pinterest" content="nopin" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="apple-mobile-web-app-capable" content="yes">

	<!--
		
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="src/ico/favicon.ico" />
    <link rel="icon" type="image/gif" href="src/ico/animated_favicon1.gif" />
	//-->

  </head>
  <body>